nav {
  display: flex;
  justify-content: space-between;
  background: var(--background-color-2);
}

.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links li {
  padding: 0.5rem;
  margin: 0.5rem;
  list-style: none;
}

.nav-name {
  color: var(--main-color);
  font-size: var(--title5);
  font-weight: 500;
}
.nav-fe {
  font-size: var(--title5);
  font-weight: 500;
}
