nav {
  display: flex;
  justify-content: space-between;
  background: var(--background-color-2);
  position: relative;
  z-index: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 5rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  margin: 0 3rem;
  list-style: none;
  font-size: var(--nav-links);
}

.nav-skills {
  padding-left: 2rem;
}
.nav-projects {
  padding: 0 1rem;
}
.nav-contact {
  padding-right: 2rem;
}
.nav-name {
  color: var(--main-color);
  font-size: calc(var(--title5) + 0.5rem);
  font-weight: 500;
  padding-left: 2rem;
}
.nav-fe {
  font-size: var(--title5);
  font-weight: 500;
  padding-left: 10rem;
  margin-bottom: 0.2rem;
}

.active.nav-skills {
  border-bottom: 1px dashed black;
}
.active.nav-projects {
  background: var(--main-color);
}
.active.nav-contact {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}
