.projects-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  animation: opening 0.5s ease-in-out;
  transition: 0.5s ease all;
  transform: translateY(10vh);
}
.projects-container h3 {
  font-size: var(--title3);
  font-weight: 500;
}
.projects-container p {
  font-size: var(--text2);
  width: 90%;
}

.projects-title2 {
  order: 1;
  background: var(--main-color);
  font-size: var(--title4);
  font-weight: 500;
  letter-spacing: 1rem;
  margin: 2rem 0;
  width: 40%;
  text-align: right;
  padding-right: 5rem;
  padding-bottom: 0.5rem;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.project {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 10rem;
}
.project-text {
  flex: 2 1 40rem;
  margin: 1rem;
}

.box-left {
  order: 1;
}
.title-right {
  text-align: right;
}

.text-box-right {
  display: flex;
  justify-content: end;
}

.text {
  width: 80%;
  text-align: justify;
}

.project-img {
  flex: 1 1 30rem;
  position: relative;
}

.project-img img {
  max-width: 100%;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3), 0px 15px 30px rgba(0, 0, 0, 0.2);
}
.project-img:hover {
  transform: scale(1.03) translateY(-0.1rem);
}

.n-comming {
  display: none;
}

.comming {
  position: absolute;
  transform-origin: center;
  top: 30%;
  left: 15%;
  color: var(--main-color);
  background-color: var(--background-color);
  border-radius: 1rem;
  font-size: 5rem;
  transform: rotate(17deg);
  opacity: 0.6;
  cursor: pointer;
}

#big {
  font-size: 6rem;
  top: 35%;
  left: 25%;
}

.circles {
  z-index: -1;
}

.circle1 {
  position: absolute;
  width: 60vw;
  height: 80vh;
  border: 2px dashed var(--main-color);
  border-radius: 50%;
  top: -20%;
  left: -5%;
}

.circle2 {
  position: absolute;
  width: 50vw;
  height: 75vh;
  border: 2px dashed var(--main-color);
  border-radius: 50%;
  bottom: -30%;
  right: -10%;
}

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* comming soon size */
@media only screen and (max-width: 1100px) {
  .comming {
    font-size: 3.5rem;
    top: 30%;
    left: 15%;
  }
  #big {
    font-size: 5rem;
    top: 27%;
    left: 20%;
  }
}

/* change order */
@media only screen and (max-width: 919px) {
  .projects {
    margin-top: 2rem;
  }
  .box-left {
    order: 0;
  }
  .title-right {
    text-align: left;
  }
  .text-box-right {
    display: flex;
    justify-content: start;
  }
  .text {
    width: 100%;
  }
  .projects-title2 {
    width: 50%;
  }
  .comming {
    font-size: 7rem;
    top: 35%;
    left: 20%;
  }
  #big {
    font-size: 9rem;
    top: 30%;
    left: 25%;
  }
  .circle1 {
    width: 80%;
    height: 40%;
    top: -20%;
    left: -5%;
  }

  .circle2 {
    width: 100%;
    height: 50%;
    bottom: -19%;
    right: -10%;
  }
}

@media only screen and (max-width: 800px) {
  .comming {
    font-size: 6rem;
    left: 17%;
  }
  #big {
    font-size: 8rem;
    left: 20%;
  }
}
@media only screen and (max-width: 700px) {
  .comming {
    font-size: 5rem;
  }
  #big {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 600px) {
  .project {
    margin: 1rem 5rem;
  }
  .projects-title2 {
    width: 75%;
  }
  .comming {
    font-size: 4.5rem;
  }
  #big {
    font-size: 6.5rem;
  }
}

/* phones */
@media only screen and (max-width: 460px) {
  .project {
    margin: 1rem 3rem;
  }
  .title,
  .text {
    margin: 0;
  }
  .comming {
    font-size: 4rem;
  }
  #big {
    font-size: 5rem;
  }
  .circle1 {
    width: 90%;
    height: 30%;
    top: -8%;
    left: -5%;
  }

  .circle2 {
    width: 100%;
    height: 35%;
    bottom: -5%;
    right: -15%;
  }
}

@media only screen and (max-width: 360px) {
  .comming {
    font-size: 2.8rem;
  }
  #big {
    font-size: 4rem;
    top: 23%;
  }
  .projects-title2 {
    width: 80%;
  }
}
