* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --background-color: #f2f2f2;
  --main-color: #ff5757;
  --title1: 6rem;
  --title2: 4rem;
  --title3: 2.5rem;
  --title4: 3rem;
  --text: 1.7rem;
  --text2: 2rem;
}

body {
  background: var(--background-color);
  font-family: "Oswald", sans-serif;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  transform: scale(1.1) translateY(-0.2rem);
}
